VITE_API_URL=http://localhost:2987
VITE_GOOGLE_CLIENT_ID=replace_me.apps.googleusercontent.com
VITE_CLOUDINARY_CLOUD_NAME=replace_me
VITE_CLOUDINARY_UPLOAD_PRESET=replace_me
VITE_RAZORPAY_KEY=rzp_test_replace_me
