.manage-reviews{

    padding:30px;

}

.manage-reviews-header{

    margin-bottom:30px;

}

.manage-reviews-header h2{

    color:#fff;

    font-size:32px;

    font-weight:700;

}

.manage-reviews-header p{

    color:#9ca3af;

    margin-top:8px;

}