/* ==========================================================
                    LIST SECTION
========================================================== */

.adminjersey-list{

    margin-bottom:50px;

}

/* ==========================================================
                    GRID VIEW
========================================================== */

/* ==========================================================
                    LIST VIEW
========================================================== */

.adminjersey-grid{

    display:flex;

    flex-direction:column;

    gap:24px;

    width:100%;

}

/* ==========================================================
                    LIST VIEW
========================================================== */

.adminjersey-list-view{

    display:grid;

    grid-template-columns:1fr;

    gap:24px;

}

/* ==========================================================
                    RESPONSIVE
========================================================== */

@media(max-width:992px){

    .adminjersey-grid{

        grid-template-columns:repeat(auto-fit,minmax(300px,1fr));

    }

}

@media(max-width:768px){

    .adminjersey-grid{

        grid-template-columns:1fr;

    }

}