.ai-product-card{

display:flex;

gap:12px;

padding:12px;

background:#2b303b;

border-radius:14px;

margin-top:12px;

border:1px solid rgba(255,255,255,.06);

}

.ai-product-image{

width:80px;

height:80px;

border-radius:10px;

object-fit:cover;

}

.ai-product-info{

flex:1;

display:flex;

flex-direction:column;

}

.ai-product-info h4{

margin:0;

font-size:15px;

color:white;

}

.ai-product-info p{

margin:4px 0;

color:#bfc7d5;

font-size:13px;

}

.ai-product-info span{

font-weight:700;

color:#4f8cff;

margin-top:6px;

}

.ai-product-info button{

margin-top:10px;

height:36px;

border:none;

border-radius:10px;

cursor:pointer;

background:#2962ff;

color:white;

font-weight:600;

}